@media (max-width: 576px) {
  .nav-links {
    display: none;
  }
  nav > a {
    font-size: 1.5rem;
  }
  .hero-wrapper {
    margin-top: 30px;
    flex-direction: column-reverse;
    gap: 25px;
  }
  .fresh-flower {
    font-size: 2.3rem;
  }
  .hero-left-text h1 {
    font-size: 2.3rem;
  }
  .hero-left-text p {
    font-size: 14px;
  }
  .hero-left-text {
    margin: 0 15px;
  }
  .plant-section {
    margin: 50px 15px 0 15px;
  }
  .plants-heading h1 {
    font-size: 2rem;
  }
  .our {
    font-size: 2rem;
  }
  .plants-heading p {
    font-size: 0.8rem;
  }
  .plants-card {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .card-1 > h4,
  span {
    font-size: 1rem;
    font-weight: 500;
  }
  .card-1 button {
    padding: 10px 25px;
    font-size: 0.7rem;
    width: 100%;
  }
  .trusted-img {
    display: none;
  }
  .plant-lover-section {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 40px;
    margin: 50px 15px 0 15px;
    gap: 0;
  }
  .plant-lover-left img {
    width: 100%;
  }
  .latest-deal-discount {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 20px;
  }
  .div1 {
    grid-column: 1/2;
  }
  .div2 {
    grid-column: 1/2;
  }
  .div3 {
    grid-row: 5/7;
    grid-column: 1/2;
    z-index: -1222;
  }
  .box {
    max-height: 185px;
    border-radius: 12px;
  }
  .box a,
  .box p {
    font-size: 20px;
  }
  .latest-deal-section {
    margin: 50px 15px 0 15px;
  }
  .latest-deal-heading {
    margin: 50px 0;
}
}
