@media (max-width: 576px) {
  .nav-links {
    display: none;
  }
  nav > a {
    font-size: 1.5rem;
  }
  .hero-wrapper {
    margin-top: 110px;
    flex-direction: column-reverse;
    gap: 25px;
  }
  .hero-left-text h1{
    font-size: 2.3rem;
}
.hero-left-text p{
    font-size: 14px;
}
.hero-left-text {
    margin: 0 15px;
}

}

