* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
    --inter: "Inter", serif ;
    --noto-serif: "Noto Serif", serif ;
}
/* common */
#container {
  max-width: 1140px;
  margin: 0 auto;
}

/* main-style */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
nav a {
  text-decoration: none;
}
nav > a{
    font-size: 2rem;
    font-family: var(--inter);
    color: #252432;
    font-weight: 800;
}

.nav-links {
  display: flex;
  align-items: center;
}
.nav-links a {
  padding: 10px 20px;
  font-family: var(--inter);
  font-weight: bold;
  color: #8987A1;
}
.nav-links a:hover{
color: #252432;
}

.nav-link-wrapper {
  display: flex;
  align-items: center;
}
.nav-cart {
  display: flex;
  align-items: center;
  gap: 5px;
}
.nav-cart {
  font-family: var(--inter);
  color: #000000;
}
/* -------hero------- */
.hero-wrapper{
    margin-top: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-left-text{
    max-width: 520px;
}
.hero-left-text h1{
    font-family: var(--noto-serif);
    font-size: 4rem;
    font-weight: bold;
    color: #000000;
}
.hero-left-text p{
    font-family: var(--inter);
    font-size: 1rem;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 12px;
}
.fresh-flower{
    color: #E95A08;
}
.hero-right-img img{    max-width: 100%;
    display: block;
    height: auto;
}